
.card {
    border-radius: 10px;
    cursor: pointer;
}

.card img {
    border: 2px solid #ddd;
}

.badge {
    font-size: 0.9rem;
}

.no-events {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ffcc00;
    border-radius: 10px;
    background-color: #fff3cd;
    color: #856404;
    font-size: 1.2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.no-events-icon {
    font-size: 50px;
    color: #856404;
}

.no-events-message {
    margin-top: 10px;
    font-weight: bold;
}
